*{ 
margin: 0px;
padding: 0px;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap')

}
.header {

    background-image: url(Img/backgroundimg.jpg);
    background-size: cover;
    height: 1300px;
    height: 604px;
    padding-left: 10%;
    padding-right: 5%;

    .navegadorylogo{
        display: flex;
        flex-direction: row;
        
        .logo{
            width: 200px;
            height: auto;
            margin-top: 40px;
            margin-right: 20%;
            
        }
    
        .botonera{
            margin-top: 60px;
            
            a{
                margin-left: 40px;
                font-family: "Roboto Mono", monospace;
                color: rgb(245, 245, 220);
                text-decoration: none;
                font-weight: bold
            }
        
        }
    
    }

    h1{
        font-family: "Roboto Mono", monospace;
        margin-top: 100px;
        color: rgb(245, 245, 220);
        font-size: 40px;
    }

    h2{
        font-family: "Roboto Mono", monospace;
        margin-top: 10px;
        color: rgb(245, 245, 220);
        font-size: 20px;
    }

    .behance{
        margin-top: 40px;
        background-color: rgb(245, 245, 220);
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;

        li{
            list-style: none;
        }

        a{
            font-family: sans-serif;
            color: rgb(26, 26, 26);
            text-decoration: none;
            font-size: 25px;
            
        }
    }


}

.seccion1 {
    width: 1078px;
    background-color: rgb(245, 245, 220);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    height: auto;
    display: flex;
    flex-direction: row;

    
 

    .bajada1{
        

        margin-left: 10%;
        margin-top: 10%;
        
        
        h2 {
            font-family: "Roboto Mono", monospace;
            font-size: 30px;
            line-height: 60px;
            margin-bottom: 30px;
            color: rgb(26, 26, 26);
        }
    
        p {
            font-family: sans-serif;
            line-height: 22px;
            color: rgb(26, 26, 26);
        }     
    }
    
    img {
        
        padding-top: 5px;
        height: 620px;
        width: auto;
        
    }    
}

.seccion2 {
    width: 1078px;
    background-color: rgb(245, 245, 220);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    height: auto;


    
    .bajada2{
        display: flex;
        flex-direction: row;
        
       
        .texto2{

            margin-top: 10%;
            width: 65%;
            height: 400px;
            
            h2 {
                font-family: "Roboto Mono", monospace;
                font-size: 30px;
                line-height: 40px;
                color: rgb(26, 26, 26);
                width: 80%;

            }
            
            h3 {
                font-family: "Roboto Mono", monospace;
                font-size: 20px;
                font-weight: normal;
                line-height: 60px;
                color: rgb(26, 26, 26); 
            }

            p{
                
                font-family: sans-serif;
                line-height: 22px;
                color: rgb(26, 26, 26);
                   
            }
        }
       
        img{
            width: 300px;
            margin-left: 15%;

        }
    }

    .iconos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        width: 55%;


        li{
            list-style: none;
        }

        a{
            font-family: sans-serif;
            color: aliceblue;
            text-decoration: none;
            
        }

        .wpp{
            background-color: rgb(37, 211, 102);
            width: 120px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
        }
        .mail{
            background-color: rgb(255, 45, 45);
            width: 120px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
        }
        .instagram{
            background-color: rgb(221, 42, 123);
            width: 120px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
        }
        .behance{
            background-color: rgb(26, 26, 26);
            width: 120px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;

            
        }
    }

}

.seccion3 {
    
    width: 1213px;
    background-color: rgb(245, 245, 220);
    padding-left: 10%;
    
    padding-top: 100px;
    

    h2 {
        font-family: "Roboto Mono", monospace;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 50px;
        margin-right: 600px;
        color: rgb(26, 26, 26);
    }
    
    h3 {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 100;
        line-height: 60px;
        color: rgb(26, 26, 26); 
    }
    
    .interiorseccion4{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

        .listadodehabilidades {
            font-family: sans-serif;
            line-height: 22px;
            
            h3{
                margin-bottom: 10px;
                background-color: rgb(26, 26, 26);;
                color: rgb(245, 245, 220);
                border-radius: 10px;
                width: 225px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            
            ul {
                list-style: circle;
                line-height: 30px;
                color: rgb(245, 245, 220);
                background-color: rgb(26, 26, 26);
                width: 190px;
                height: 170px;
                border-radius: 10px;
                padding-left: 35px;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: left;
                }
            
        }


        .paqueteadobe {
            
            margin-bottom: 90px;

            .iconosadobe{
                background-color: rgb(26, 26, 26);
                width: 170px;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 10px;
            }

            h3{
            margin-bottom: 10px;
            background-color: rgb(26, 26, 26);;
            color: rgb(245, 245, 220);
            border-radius: 10px;
            width: 170px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            }
        }

        .paqueteoffice {
            
            margin-bottom: 90px;
        
            h3{
                margin-bottom: 10px;
                background-color: rgb(26, 26, 26);
                color: rgb(245, 245, 220);
                border-radius: 10px;
                width: 170px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }    

            .iconosoffice{
                background-color: rgb(26, 26, 26);
                width: 170px;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 10px;
            }
        }

        .niveldeingles {
            display: flex;
            flex-direction: column;
            margin-right: 10%;
            
            margin-bottom: 90px;
            
        
            h3{
                font-weight: lighter;
                margin-bottom: 10px;
                background-color: rgb(26, 26, 26);;
                color: rgb(245, 245, 220);
                border-radius: 10px;
                width: 440px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            } 
            
            h4{
                font-weight: lighter;
                font-family: sans-serif;
                margin-bottom: 10px;
                color: rgb(245, 245, 220);
            }
            .barradenivel{
                margin-bottom: 10px;
                background-color: rgb(26, 26, 26);
                border-radius: 10px;
                width: 440px;
                height: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: sans-serif;

                img{
                    width: 400px;
                }

              
            }    
                



        
    }

    .imagendellapiz{
        width: 1200px;
        height: auto;
        
        margin-left: 300px;
        

    }
}


.seccion4{
    width: 1078px;
    background-color: rgb(245, 245, 220);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    .imglampara{
        width: 500px;
        height: auto;

        margin-right: 100px;
        margin-top: 150px;
    }

    .Bloquetexto{
        
        
        h2 {
            font-family: "Roboto Mono", monospace;
            font-size: 30px;
            line-height: 60px;
            margin-bottom: 60px;
            color: rgb(26, 26, 26);
        }
        
        .bajada4{
            margin-bottom: 10px;
            background-color: rgb(26, 26, 26);
            border-radius: 10px;
            width: 560px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3{
                font-family: sans-serif;
                font-size: 20px;
                font-weight: 100;
                color: rgb(245, 245, 220)
            }
            
            p{
                font-family: sans-serif;
                line-height: 22px;
                color: rgb(245, 245, 220)
            }
        }
    
        ul{
            list-style: circle;
            line-height: 30px;
            font-family: sans-serif;
            color: rgb(245, 245, 220);
            background-color: rgb(26, 26, 26);
            width: 520px;
            height: auto;
            border-radius: 10px;
            padding: 20px;
        }
        
        li{
            margin-bottom: 10px;
            margin-left: 20px;
        }
    
    }
}



.seccion5 {
    width: 1078px;
    background-color: rgb(245, 245, 220);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .bajada5{
       
        h2 {
            font-family: "Roboto Mono", monospace;
            font-size: 30px;
            line-height: 60px;
            margin-bottom: 60px;
            color: rgb(26, 26, 26);
            
        }

        h3{
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 100;
            color: rgb(245, 245, 220);
            
        }

        li {
            font-family: sans-serif;
            line-height: 22px;
            color: rgb(245, 245, 220);
        }    
        
        p{
            font-family: sans-serif;
            line-height: 22px;
            color: rgb(245, 245, 220);
        }
        .secundaria{
            height: 120px;
            width: 300px;
            line-height: 30px;
            
            background-color: rgb(26, 26, 26);
            padding-left: 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
        }
        .unlz{
            height: 120px;
            width: 550px;
            line-height: 30px;
            
            background-color: rgb(26, 26, 26);
            padding-left: 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
        }
        .unla{
            height: 120px;
            width: 500px;
            line-height: 30px;
            
            background-color: rgb(26, 26, 26);
            padding-left: 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    .imglibro{
        width: 500px;
        height: auto;
        
        margin-left: 60px;
        margin-top: 120px;
    }


}

.footer{
    width: 1078px;
    height: 250px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    .logofooter{
        margin-top: 50px;
        img{
            width: 250px;
            height: auto;
            
        }
    }
    
    .informacion{
        h2{
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            color:rgb(245, 245, 220);
            font-size: 20px
            
        }

        p{
            font-family: sans-serif;
            font-weight: lighter;
            color:rgb(245, 245, 220);
            margin-bottom: 20px;

        }
    }

    .botonerafooter{

        
        h2{
            font-family: "Roboto Mono", monospace;
            margin-bottom: 10px;
            font-weight: 400;
            color:rgb(245, 245, 220);
            font-size: 20px
            
        }
        button{
            background-color: rgb(18, 18, 19);
            border: none;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 10px;
        }

        img{
            width: 35px;
            height: auto;
            margin: 5px;
            
        }
        
        .gracias{
            margin-top: 60px;
            
        }
    }


}